@CHARSET "UTF-8";

/* 网页背景色 */

body {
    background-color: rgba(135, 207, 235, 0.1);
}


/* 顶部和导航栏横条 */

#top-row,
#nav-row {
    background-color: deepskyblue;
    color: azure;
    height: 24px;
    line-height: 24px;
}

#top-row #time {
    font-size: small;
}


/* 顶部横条按钮 */

#top-row a {
    color: azure;
    cursor: pointer;
    line-height: 18px;
    margin-left: 8px;
}

#top-row .dropdown {
    display: inline-block;
}

#top-row .dropdown .dropdown-menu a {
    color: #000;
}


/* 标题图片 */

#title-row {
    background-image: url("/Library/image/title-bg.jpg");
    background-size: cover;
    height: 96px;
}

#title-container {
    background-image: url("/Library/image/title.jpg");
    background-repeat: no-repeat;
    height: 100%;
}


/* 导航栏按钮 */

#nav-row a {
    padding: 0;
    line-height: 24px;
    color: azure;
    margin-left: 15px;
    margin-right: 15px;
}

#nav-row a:hover {
    background-color: lightskyblue;
}


/* 页面主体 */

.section {
    background-color: rgba(135, 207, 235, 0.1);
    margin: 48px auto;
    min-height: 300px;
    padding: 48px 72px;
}


/* 页面底部 */

footer {
    color: lightgray;
}

footer a {
    color: lightgray;
    text-decoration: underline;
}

footer a:hover {
    color: lightskyblue;
}


/* 页面内容 */

abbr {
    text-decoration: none;
}

.btn-default {
    background-color: #FFFFFF88;
}

.btn-default:hover {
    background-color: rgba(135, 207, 235, 0.1);
}

.error {
    color: #ff8080;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-addon {
    background-color: #FFFFFF88;
}

.input-group-small {
    margin-top: 10px;
}

.input-group-small .input-group-addon {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 72px;
}

.input-group-small .form-control {
    height: 24px;
}

.list-group-item {
    background-color: initial;
    border: 0;
}

.list-group-item:hover {
    background-color: rgba(135, 207, 235, 0.1);
}

.table-hover>tbody>tr:hover {
    background-color: rgba(135, 207, 235, 0.1);
}

.thumbnail {
    background-color: inherit;
    border-color: #00000000;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.thumbnail:hover {
    border-color: #337ab7;
}

.thumbnail img {
    max-height: 180px;
}


/* 图书编辑 */

#book-info-edit {
    margin-top: 8px;
    font-size: small;
}

#book-info-edit input {
    height: 24px;
}

#book-info-edit tbody>tr>td {
    line-height: 24px;
}

#index-search {
    max-width: 480px;
    margin: 48px auto;
}

#index-news .list-group-item {
    height: 48px;
}

#index-books .list-group-item {
    height: 96px;
}

#index-books .media-body small {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#index-books .media-object {
    height: 80px;
    width: 60px;
}