@CHARSET "UTF-8";

/* 搜索框组 */
#search-group {
	max-width: 480px;
	margin: 48px auto;
}

#index_news .list-group-item {
	height: 48px;
}

/* 热门图书 */
#index_books .list-group-item {
	height: 96px;
}

#index_books .media-object {
	height: 80px;
	width: 60px;
}

#index_books .media-body small {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}